export('hello')
export('streamline')
export('classify')
export('visualise')
export('probvis')
import('randomForest')
import('ggplot2')
import('edgeR')
import('limma')
import('tidyr')
import('RColorBrewer')


