export('streamline')
export('classify')
export('visualise')
export('probvis')
#Don't import randomForest::margin so as not to conflict with ggplot::margin()
import('randomForest',except=c(margin))
import('edgeR')
import('limma')
import('tidyr')
import('RColorBrewer')
import('ggplot2')
#importFrom("graphics", "legend")
#importFrom("stats", "predict")
#importFrom("utils", "data")

